{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        {% for cat in category %}
        <!--<div class="col-4 text-center ">
            <div class="card mt-3">
                <div class="card-body bg-secondary">
                    <h5 class="card-title">{{cat.name}}</h5>
                    <a href="{{ cat.id }}">Show all Tasks</a>
                </div>
            </div>
        </div>-->
        <div class="col-lg-4 col-md-6 col-sm-12 text-center ">
            <div class="card border-primary mt-3" style="max-width: 18rem;">
                <h2 class="card-header">{{cat.name}}</h2>
                <div class="card-body">
                    <a class="text-dark" href="{{ cat.id }}">
                        <button type="button" class="btn btn-primary">
                            Show All Tasks
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <h3>Add Category:</h3>
        <form class=" row gx-4 gx-lg-5 justify-content-center needs-validation" method="POST">
            {% csrf_token %}
            <div class="col-12">
                <label for="validationDefault01" class="form-label">Category Name:</label>
                <input type="text" class="form-control" id="validationDefault01" value="" name="name" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile" name="cat_image">
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-primary" type="submit" name="sub">Submit form</button>
            </div>
        </form>
    </div>
</article>
{% endblock %}