{% extends 'base.html' %}
{% block content %}
{% for task in tasks %}
<div class="container mt-3">
    <div class="col-2 text-center ">
        <div class="card">
            <div class="card-body bg-secondary">
                <h5 class="card-title">{{task.title}}</h5>
                <p class="card-text">
                    <strong>due_date:</strong> <br> {{ task.due_date}}
                </p>
                <a href='{{ task.id }}' style="text-decoration:none" style="text-decoration:none" class="text-info">
                    details </a>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}