{% extends 'base.html' %}
{% block content %}
{% for post in all %}
<div class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">
                    {{ tasks.description}}
                </p>
                <a href='{{ tasks.id }}' style="text-decoration:none" style="text-decoration:none">{{ tasks.title }}</a>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}