{% extends 'base.html' %}
{% block category %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'tasks' %}">Category</a>
</li>
{% endblock %}
{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        {% for task in tasks %}
        <div class="col-4 text-center ">
            <div class="card mt-3">
                <div class="card-body bg-secondary">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">
                        <strong>due_date:</strong> <br> {{ task.due_date}}
                    </p>
                    <a href='{{ task.id }}' style="text-decoration:none" style="text-decoration:none" class="text-info">
                        details </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% endblock %}